@inherits Umbraco.Web.Macros.PartialViewMacroPage

<h1 class = "well well-sm">Guest Members</h1>
@{
var memberService =
ApplicationContext.Current.Services.MemberService;
var guestMembers = memberService.GetMembersByGroup("Guest");
}
@foreach (var member in guestMembers) {
<p class="well well-lg">
@member.GetValue("firstname")
@member.GetValue("lastname") <br>
Email: @member.Email<br>

</p>

}