@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
	var selection = CurrentPage.Site().FirstChild("projectsMain").Children("projectItem").Where("Visible").OrderBy("CreateDate desc");
}
<ul  class="list-group">
	@foreach(var item in selection){
        var isProtected = umbraco.library.IsProtected(item.Id, item.Path);
        var loginAccess = umbraco.library.IsProtected(item.Id, item.Path) && umbraco.library.HasAccess(item.Id, item.Path);
        if (!isProtected || loginAccess)
        {
		    <li class="list-group-item">
			    <a href="@item.Url">@item.Name Create Date: @item.CreateDate</a>
		    </li>
        }
    }
</ul>

