@inherits Umbraco.Web.Macros.PartialViewMacroPage
	<h3 class="well well-lg">These are the latest completed projects made by random developers</h3>


@{
	var selection = CurrentPage.Site().FirstChild("projectsMain").Children("projectItem").Where("Visible && projectStatus.Contains(\"9\")","sas");
}
<ul class="list-group">
	@foreach(var item in selection.Take(3)){
		<li class="list-group-item">
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>