<!DOCTYPE root[<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT initiatedProjects ANY>
<!ATTLIST initiatedProjects id ID #REQUIRED>
<!ELEMENT completedProjects ANY>
<!ATTLIST completedProjects id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1065" key="83930909-d1bd-4c16-9a31-419c2ed42c00" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-12T17:44:53" updateDate="2016-03-21T11:55:36" nodeName="Home Page" urlName="home-page" path="-1,1065" isDoc="" nodeType="1051" creatorName="Kaloyan" writerName="Kaloyan" writerID="0" template="1049" nodeTypeAlias="homePage">
    <metaKeywords><![CDATA[Developers, Home page, Ideas]]></metaKeywords>
    <metaDescription><![CDATA[This is the homepage of the website where developers can exchange different ideas]]></metaDescription>
    <umbracoNaviHide>0</umbracoNaviHide>
    <logo>1129</logo>
    <setTitle><![CDATA[Arhus Web Developers Network Website]]></setTitle>
    <mainContent><![CDATA[<p style="padding-left: 30px; text-align: center;"><em><strong>This website is made to share ideas between developers. They can share ideas, grow their network and find projects they want to work on.</strong></em></p>]]></mainContent>
    <articlesMain id="1066" key="caeebcec-ae15-436d-978c-55e44d17ee79" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2016-02-12T17:46:59" updateDate="2016-06-09T14:54:42" nodeName="Articles" urlName="articles" path="-1,1065,1066" isDoc="" nodeType="1055" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1054" nodeTypeAlias="articlesMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p style="text-align: center;"><strong>Here every developer can have a look at the latest and interesting articles</strong></p>]]></articlesBodyText>
      <articleItem id="1067" key="c35a2b38-0fef-47e9-ab94-c6a006a43ccc" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2016-02-12T17:48:16" updateDate="2016-03-21T13:07:39" nodeName="Create an Exceptional Customer Journey With Your Website" urlName="create-an-exceptional-customer-journey-with-your-website" path="-1,1065,1066,1067" isDoc="" nodeType="1063" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1056" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p style="text-align: center;">Each and every day we take journeys. We embark on customer journeys in both the physical and digital worlds. Years ago our journeys were limited to store fronts and physical goods. Today we live in a multimedia world of websites, social media, chat sessions, newsletters, email, and call centers. These digital journeys have changed the way we interact with companies and products. Last week I decided I was going to try shopping at a new grocery store. I was on my way home from the ortho ...</p>]]></articleContent>
        <articleTitle><![CDATA[Create an Exceptional Customer Journey With Your Website]]></articleTitle>
      </articleItem>
      <articleItem id="1068" key="5459ecee-42a2-494f-9149-3091f56f7f6f" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2016-02-12T17:48:49" updateDate="2016-03-21T13:07:51" nodeName="Buying a Website is Like Buying a Car, But Worse" urlName="buying-a-website-is-like-buying-a-car-but-worse" path="-1,1065,1066,1068" isDoc="" nodeType="1063" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1056" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p style="text-align: center;">You walk into a car dealership with high hopes of purchasing a new vehicle. The dealership you picked is an amazing store that comes highly recommended and sells everything from economical Ford and GM cars, trucks, and minivans to luxury brands like Jaguar, Infiniti, and Ferrari. Everything under one roof! What could be better? As you walk through the door, you approach the salesperson and ask him or her to provide you a quick quote on a new vehicle. It’s a realistic request right? No not ...</p>]]></articleContent>
        <articleTitle><![CDATA[Buying a Website is Like Buying a Car, But Worse]]></articleTitle>
      </articleItem>
      <articleItem id="1130" key="72e59688-24a3-448e-8c6c-c78d2ef96008" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2016-03-21T12:53:12" updateDate="2016-03-21T13:08:00" nodeName="Professional Website Design is Alive and Well" urlName="professional-website-design-is-alive-and-well" path="-1,1065,1066,1130" isDoc="" nodeType="1063" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1056" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p style="text-align: center;">Contrary to what you’ve read recently, professional website design is not dead. In fact, the professional website designer is alive and well and business is thriving. While popular media outlets like Mashable.com report that artificial intelligence and low cost WordPress templates are killing the occupation of professional website design, these are headlines geared towards driving traffic and discussion. The claims are based on promotion and not on actual facts. Do you wonder how I can be ...</p>]]></articleContent>
        <articleTitle><![CDATA[Professional Website Design is Alive and Well]]></articleTitle>
      </articleItem>
    </articlesMain>
    <projectsMain id="1069" key="df510595-2ef7-4f8c-90d1-0fc6b27a5eba" parentID="1065" level="2" creatorID="0" sortOrder="1" createDate="2016-02-12T17:49:30" updateDate="2016-03-21T15:57:32" nodeName="Projects" urlName="projects" path="-1,1065,1069" isDoc="" nodeType="1059" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1058" nodeTypeAlias="projectsMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectsBodyText><![CDATA[<p style="text-align: center;"><strong>In this page we will show you all the recently managed projects</strong></p>]]></projectsBodyText>
      <projectItem id="1070" key="5cf8ae4f-cfe9-4642-b667-a0d84445ffa9" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2016-02-12T17:50:06" updateDate="2016-03-21T13:34:32" nodeName="By the way – typography and material behavior" urlName="by-the-way-typography-and-material-behavior" path="-1,1065,1069,1070" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>7</projectStatus>
        <projectTitle><![CDATA[By the way – typography and material behavior]]></projectTitle>
        <projectDescription><![CDATA[<div class="project-module module project-module-text text align-center">
<div class="main-text">
<div style="text-align: left;"><span style="font-size: 13px;"><span style="font-family: arial,helvetica,sans-serif;">By the use of various media, the master thesis describes a free design experiment that has evolved over time into a modular system consisting of two components: The self-made font, produced by 3D printing, which is thereby associated with a variety of physical processes.</span></span></div>
<div style="text-align: left;"> </div>
<div style="text-align: left;"><span style="font-size: 13px;"><span style="font-family: arial,helvetica,sans-serif;">With references to the associated website, the book documents, among other things, the search for constants for the experiment, the design of the font, studies of different physical phenomena, the origin of 3D printing models, and the development of the own laboratory.</span></span></div>
<div style="text-align: left;"> </div>
<div style="text-align: left;"><span style="font-size: 13px;"><span style="font-family: arial,helvetica,sans-serif;">The project deliberately uses traits of digital applications and translates them to analogue media. Not only the acronyms of the models are common abbreviations used in the internet jargon, the experimental kit furthermore allows an analogue simulation of the effect of time dilation (Slow Motion), which is otherwise realised digitally.</span></span></div>
</div>
</div>]]></projectDescription>
      </projectItem>
      <projectItem id="1071" key="3ade0639-f0ab-49c8-89fa-52874069f1e7" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2016-02-12T17:50:50" updateDate="2016-03-22T00:21:50" nodeName="Boostrap" urlName="boostrap" path="-1,1065,1069,1071" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>6</projectStatus>
        <projectTitle><![CDATA[Boostrap]]></projectTitle>
        <projectDescription><![CDATA[<p>Since it was launched by Twitter in 2011, web building framework Bootstrap has become the most popular project on GitHub. Its creators Mark Otto and Jacob Thornton decided last September to move Bootstrap to its own open source organisation, and the project separated from Twitter.</p>
<p>Bootstrap benefits from a small footprint, LESS integration and compelling visual design. It has a web-based customiser that you can use to tailor it to your open source project: components and jQuery plug-ins can be added or removed by ticking checkboxes, and variables can be customised using a web form. There's a 12-column responsive grid, typography, form controls and it uses responsive CSS to work with mobile browsers.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1081" key="5a53c93b-20b3-4c58-94fb-740d9ce4d1ce" parentID="1069" level="3" creatorID="0" sortOrder="2" createDate="2016-02-19T17:18:44" updateDate="2016-03-21T13:37:17" nodeName="Brackets" urlName="brackets" path="-1,1065,1069,1081" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Brackets]]></projectTitle>
        <projectDescription><![CDATA[<p>An open source project begun at Adobe<span style="text-decoration: underline;"></span>, Brackets is a lightweight and modern code editor focused on web technologies, with a collection of innovative features.</p>
<p>The 17th most popular project on Github, the core team consists of 12 developers, with Adobe providing seven full-time engineers to the project, plus around 80 individual contributors. However, product manager Adam Lehman cautions that it isn’t yet ready for day-to-day use.</p>
<p>"Code editors have been around for a very long time, so you can’t just expect to build an editor with all the required features overnight," he says. "We produce stable and reliable builds every two and a half weeks, so you can be sure it’s safe to use, but you may find yourself going back to your previous editor for a feature or two.</p>
<p><strong> </strong></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1082" key="0d8b701f-d5df-4d0e-bb2f-45226bcea379" parentID="1069" level="3" creatorID="0" sortOrder="3" createDate="2016-02-19T17:19:21" updateDate="2016-03-21T13:37:52" nodeName="Firefox OS" urlName="firefox-os" path="-1,1065,1069,1082" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Firefox OS]]></projectTitle>
        <projectDescription><![CDATA[<p>Firefox OS, the new operating sysyem being developed by Mozilla, is a win for developers says Andreas Gal, vice president of mobile engineering at Mozilla. "The more platforms developers have to develop for, the more complicated their lives become," he reasons.</p>
<p>"Mozilla’s aim is to be a catalyst to drive more development for the Open Web. Over eight million developers develop in HTML5 today compared to around 100,000 iOS developers and 400,000 Android but 10 million for HTML5. We just want to unlock the power of HTML5 for standards-based work.</p>
<p>"Web apps can access all the device capabilities with the new web APIs that Mozilla added - closing the gap between web and native apps," Gal continues. "This will lower the barrier to entry for smaller, local content developers, businesses, educators and government organizations as well because HTML5 and Web technologies are familiar to developers.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1084" key="aa7cdd45-d0af-46a3-9aff-1c0196cd7e9a" parentID="1069" level="3" creatorID="0" sortOrder="4" createDate="2016-02-22T11:08:06" updateDate="2016-03-22T00:22:34" nodeName="Conditionizr" urlName="conditionizr" path="-1,1065,1069,1084" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Conditionizr]]></projectTitle>
        <projectDescription><![CDATA[<p>Conditionizr is a brilliant new tool for browser detection. "Conditionizr finalises the gap in frontend technology; conditional free," explains creator Tod Motto. "We use things like Modernizr for feature detection for HTML5/CSS3, and Conditionizr sits alongside to serve the exact opposite: legacy content serving for a clean markup."</p>
<p>Currently at version 2.2.1, Conditionizr recognises the browser in use and delivers the required content. For example, an IE7 user will receive either HTML classes for CSS overrides, or load an ie7.css and ie7.js file; useful for browser patching.</p>
<p>"Conditionizr isn't limited to legacy," adds Motto. "It also aims to help users fix modern browser quirks by detecting modern browsers too. Conditionizr has evolved to include not just legacy content serving, but it also detects retina and touch devices and again allows developers to cater for the entire frontend. It's a tiny 3KB script."</p>
<p>Future plans include redesigning the website to deliver a better user experience and swapping the IE detection to a non-sniffing alternative.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1085" key="00a3d32c-e465-4d8c-8824-60171d65c8f4" parentID="1069" level="3" creatorID="0" sortOrder="5" createDate="2016-02-22T11:09:14" updateDate="2016-03-21T13:39:02" nodeName="Accessibility Project" urlName="accessibility-project" path="-1,1065,1069,1085" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Accessibility Project]]></projectTitle>
        <projectDescription><![CDATA[<p>The Accessibility Project is a community-driven effort to make web accessibility easier for frontend designers and developers to understand and adopt in to a daily workflow.</p>
<p>As Dave Rupert of Paravel, one of the 40+ group of coders and accessibility experts behind the project, explains: "The project started in mid-January 2013 amid developer sentiment that core accessibility concepts, features and code examples are overly difficult to extract. Since launch, <a href="http://a11yproject.com" target="_blank" class="hawk-link-parsed">a11yproject.com</a> has had 46,000 visitors and we're currently seeing about 7,000 monthly visitors."</p>
<p>Feedback has been mixed: "We've been told everything from 'Stop peddling bullshit' to 'Thank you for making accessibility more accessible'," Rupert reveals. "In general, the sentiment is positive and it solves a common desire for most frontend developers. If there is negative feedback (for example, errata or a difference of opinion) people are encouraged to file an issue on GitHub. Open source is working and iron is sharpening iron.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1086" key="8efd88c2-9ccc-4885-9329-b884b8fa4cf8" parentID="1069" level="3" creatorID="0" sortOrder="6" createDate="2016-02-22T11:10:00" updateDate="2016-03-21T13:39:32" nodeName="Laravel" urlName="laravel" path="-1,1065,1069,1086" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Laravel]]></projectTitle>
        <projectDescription><![CDATA[<p>Laravel has revolutionised PHP development by leveraging the latest features of the language, bringing things like expressive migrations, a great ActiveRecord style ORM and RESTful routing to PHP developers.</p>
<p>"I began working on Laravel at night around the end of 2010," says its creator Taylor Otwell. "I wanted to create a PHP framework that was intuitive, yet powerful. A framework that was truly about developer productivity and happiness."</p>
<p>Right now, Laravel one of the most popular PHP projects on GitHub with thousands of watchers. The framework is used by many more thousands of developers around the world in dozens of countries. In late May, Otwell will be releasing version 4.0, which will bring a unified Queue API for background jobs and an enhanced CLI.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1087" key="66160cf2-ea59-4378-9eb7-f75a21e406e9" parentID="1069" level="3" creatorID="0" sortOrder="7" createDate="2016-02-22T11:10:39" updateDate="2016-03-22T13:25:57" nodeName="Grunt" urlName="grunt" path="-1,1065,1069,1087" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Grunt]]></projectTitle>
        <projectDescription><![CDATA[<p>Grunt allows you to automate common tasks using JavaScript. As creator Ben Alman explains: "With Grunt, you can perform mundane, repetitive tasks like minification, compilation, unit testing and linting with basically zero effort. And because Grunt is extensible, if someone hasn't already built what you need, you can easily author and publish your own Grunt plug-in."</p>
<p>Grunt is downloaded about 25,000 times per week, and with over 20 officially-maintained plug-ins and 600 community-published plugins, it's quickly becoming the de facto standard.</p>
<p>"Grunt has dramatically lowered the barrier to entry for web developers by providing a common interface for the tasks in their build process," adds Alman. "Using our extensive plug-in ecosystem and easy configuration format, it's now possible for anyone on your team to create a modern build process - designers included."</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1145" key="09e6c22c-eb8b-462d-b244-86c01a5fcffc" parentID="1069" level="3" creatorID="0" sortOrder="8" createDate="2016-03-22T00:03:51" updateDate="2016-03-22T00:23:13" nodeName="Ember.js" urlName="emberjs" path="-1,1065,1069,1145" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>7</projectStatus>
        <projectTitle><![CDATA[Ember.js]]></projectTitle>
        <projectDescription><![CDATA[<p>Ember.js bills itself as "a framework for creating ambitious web applications". Jack Franklin explains: "Ember's main features are its data binding; obejcts in Ember can bind properties to each other, so when a property changes in one object, the other is kept in sync.</p>
<p>"Another is the ability to define functions on an object that you can then treat as properties. Hence, if a model has a first and last name, you could create a function to define a person's full name, and have it treated as if the model has a fullname property.</p>
<p>"The feature most likely to draw you in is that Ember automatically updates its views when data changes - saving you a lot of work."</p>
<p> </p>]]></projectDescription>
      </projectItem>
      <projectItem id="1146" key="1881158c-3053-4a76-a22c-54d6b7459d04" parentID="1069" level="3" creatorID="0" sortOrder="9" createDate="2016-03-22T00:04:49" updateDate="2016-03-22T00:23:39" nodeName="AngularJS" urlName="angularjs" path="-1,1065,1069,1146" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>6</projectStatus>
        <projectTitle><![CDATA[AngularJS]]></projectTitle>
        <projectDescription><![CDATA[<p>AngularJS extends the vocabulary of HTML for declaring dynamic views in web apps. Again, Jack Franklin explains: "Angular takes a slightly different approach [to Backbone and Ember] by doing data binding directly in your HTML. It also uses just plain JavaScript for its controllers, meaning there's no need to extend other objects as you have to do in other frameworks.</p>
<p>"The data binding means data in views is automatically updated when the data changes, but also Angular makes it effortless to bind forms to models, meaning a lot of the code you typically write to link a form to creating a new instance of a model is not needed. Its data binding is bi-directional.</p>
<p>"By moving a lot of the binding directly into the HTML, Angular leaves you with much leaner controllers and less JavaScript to write. It might take a while to get your head around, but this approach is really powerful."</p>
<p> </p>]]></projectDescription>
      </projectItem>
      <projectItem id="1147" key="e55b3fb7-f6bd-4d6c-a794-ef9a15fd625f" parentID="1069" level="3" creatorID="0" sortOrder="10" createDate="2016-03-22T00:06:49" updateDate="2016-03-22T13:30:17" nodeName="Ghost" urlName="ghost" path="-1,1065,1069,1147" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>8</projectStatus>
        <projectTitle><![CDATA[Ghost]]></projectTitle>
        <projectDescription><![CDATA[<p>Open source blogging platform Ghost turned heads when it was successfully funded through Kickstarter, surpassing its original request of £25,000 and eventually bring in over £196,000 in funding.</p>
<p>Ghost has a unique purpose in providing bloggers with a simple interface that allows them to write and publish their content without dealing with the complexity of traditional platforms. It's free as a package you can download and install to your own web server, but if that's too much hassle for you there are pro hosted versions costing between $5 and $36 per month.</p>
<p> </p>]]></projectDescription>
      </projectItem>
      <projectItem id="1148" key="e38b5617-04df-4780-96ee-7669694a1ac2" parentID="1069" level="3" creatorID="0" sortOrder="11" createDate="2016-03-22T00:08:23" updateDate="2016-03-22T13:30:36" nodeName="Gulp" urlName="gulp" path="-1,1065,1069,1148" isDoc="" nodeType="1061" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>8</projectStatus>
        <projectTitle><![CDATA[Gulp]]></projectTitle>
        <projectDescription><![CDATA[<p>Tools like Gulp are often referred to as "build tools" because they are tools for running the tasks for building a website. The two most popular build tools out there right now are Gulp and <a href="http://gruntjs.com/">Grunt</a>. (Chris has a <a href="https://24ways.org/2013/grunt-is-not-weird-and-hard/">post on getting started with Grunt here</a>). But there are others of course. <a href="https://github.com/broccolijs/broccoli">Broccoli</a> focuses on asset compilation, one of the most common build tool tasks.</p>
<p>There are already multiple articles covering the difference between Grunt and Gulp and why you might use one over another. You can check out <a href="http://www.zell-weekeat.com/choosing-a-build-tool/">this article</a>, <a href="http://ponyfoo.com/articles/choose-grunt-gulp-or-npm">this one</a>, or <a href="http://sixrevisions.com/web-development/grunt-vs-gulp/">this</a> if you're interested in finding out more. <a href="http://brunch.io/">Brunch</a> is similar in its focus on assets, and it bundles in some of the most common other tasks like a server and file watcher.</p>
<p> </p>]]></projectDescription>
      </projectItem>
    </projectsMain>
    <textPage id="1072" key="92c0a5cb-2fc9-4529-aef9-19a70c721d04" parentID="1065" level="2" creatorID="0" sortOrder="2" createDate="2016-02-12T17:51:16" updateDate="2016-03-21T15:57:45" nodeName="Text Page" urlName="text-page" path="-1,1065,1072" isDoc="" nodeType="1053" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1052" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <mainContent><![CDATA[<p>This is just an ordinary text page</p>]]></mainContent>
      <header><![CDATA[Text Page]]></header>
    </textPage>
    <aboutUs id="1080" key="65809cf4-a780-4f13-b69e-fb7490f9f89f" parentID="1065" level="2" creatorID="0" sortOrder="3" createDate="2016-02-13T22:14:41" updateDate="2016-06-10T12:38:10" nodeName="About Us" urlName="about-us" path="-1,1065,1080" isDoc="" nodeType="1077" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1074" nodeTypeAlias="aboutUs">
      <umbracoNaviHide>0</umbracoNaviHide>
      <informationGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "About us grid",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "About us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1129,
                    "image": "/media/1002/goto-aar-2014.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"padding-left: 30px; text-align: center;\"> </p>\n<p style=\"padding-left: 30px; text-align: center;\"> </p>\n<p style=\"text-align: center;\"><strong>Vision</strong></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p>Developers will have the opportunity to keep in touch with different type of projects and meantime save time for questions on them</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\"> </p>\n<p style=\"text-align: center;\"> </p>\n<p style=\"text-align: center;\"><strong>People</strong></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p>The website can be accessed from everyone in the IT sector. This includes developers, graphic designers and others.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\"> </p>\n<p style=\"text-align: center;\"> </p>\n<p style=\"text-align: center;\"><strong>Skills</strong></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p>Participants will be able to obtain a set <br />of new skills.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "hasConfig": false,
          "id": "a1a08b8d-17b6-a2dd-71e7-2e79604c059b",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></informationGrid>
    </aboutUs>
    <sitemap id="1090" key="85c43f40-0bd9-4ff0-a925-ac1890b4fa0d" parentID="1065" level="2" creatorID="0" sortOrder="4" createDate="2016-02-22T11:25:21" updateDate="2016-02-22T11:25:21" nodeName="Sitemap" urlName="sitemap" path="-1,1065,1090" isDoc="" nodeType="1089" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1088" nodeTypeAlias="sitemap">
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
    <login id="1119" key="78460da1-44fa-40b0-9fbb-d30b83f351f1" parentID="1065" level="2" creatorID="0" sortOrder="6" createDate="2016-03-04T11:31:18" updateDate="2016-03-04T11:31:18" nodeName="Login" urlName="login" path="-1,1065,1119" isDoc="" nodeType="1118" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1117" nodeTypeAlias="login">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <textPage id="1120" key="3d0e6658-0ea0-49f6-aed6-6eb501ea60f0" parentID="1065" level="2" creatorID="0" sortOrder="7" createDate="2016-03-04T11:32:20" updateDate="2016-03-04T11:32:26" nodeName="Forbidden Access Page" urlName="forbidden-access-page" path="-1,1065,1120" isDoc="" nodeType="1053" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1052" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <header><![CDATA[Access is forbidden for you !]]></header>
    </textPage>
    <members id="1128" key="c4c28fe8-f63c-4b68-9a03-a4105448a0e9" parentID="1065" level="2" creatorID="0" sortOrder="8" createDate="2016-03-04T12:49:56" updateDate="2016-03-21T14:31:13" nodeName="Members" urlName="members" path="-1,1065,1128" isDoc="" nodeType="1127" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1126" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <contactPage id="1093" key="4cbdf0cf-cbb0-4d28-a5ed-1c70ccfaf457" parentID="1065" level="2" creatorID="0" sortOrder="9" createDate="2016-02-26T10:21:11" updateDate="2016-06-07T16:02:20" nodeName="Contact Us" urlName="contact-us" path="-1,1065,1093" isDoc="" nodeType="1092" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1091" nodeTypeAlias="contactPage">
      <metaDescription><![CDATA[This is the Contact page for Aarhus web dev website]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <contactTitle><![CDATA[Contact US]]></contactTitle>
      <message id="1132" key="662ac46d-bd6e-44f0-882f-4233a5af38a2" parentID="1093" level="3" creatorID="0" sortOrder="0" createDate="2016-03-21T14:12:56" updateDate="2016-03-21T14:12:56" nodeName="This is just an example email" urlName="this-is-just-an-example-email" path="-1,1065,1093,1132" isDoc="" nodeType="1107" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="0" nodeTypeAlias="message" isDraft="">
        <senderName><![CDATA[Nikolay]]></senderName>
        <subject><![CDATA[This is just an example email]]></subject>
        <message><![CDATA[This is just an example email]]></message>
        <email><![CDATA[nikolay@gmail.com]]></email>
      </message>
      <message id="1153" key="f0077f39-4ae5-4873-b2f7-4d74a1c82cfb" parentID="1093" level="3" creatorID="0" sortOrder="1" createDate="2016-06-07T15:59:23" updateDate="2016-06-07T15:59:23" nodeName="dsd" urlName="dsd" path="-1,1065,1093,1153" isDoc="" nodeType="1107" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="0" nodeTypeAlias="message" isDraft="">
        <senderName><![CDATA[ddd]]></senderName>
        <subject><![CDATA[dsd]]></subject>
        <message><![CDATA[ssasa]]></message>
        <email><![CDATA[ddd@gmail.com]]></email>
      </message>
      <message id="1154" key="0f9cfafc-54c6-40e5-9a17-bb0f0bb0f044" parentID="1093" level="3" creatorID="0" sortOrder="2" createDate="2016-06-07T16:01:18" updateDate="2016-06-07T16:01:18" nodeName="ssss" urlName="ssss" path="-1,1065,1093,1154" isDoc="" nodeType="1107" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="0" nodeTypeAlias="message" isDraft="">
        <senderName><![CDATA[ssss]]></senderName>
        <subject><![CDATA[ssss]]></subject>
        <message><![CDATA[ssss]]></message>
        <email><![CDATA[sss@gmail.com]]></email>
      </message>
      <message id="1155" key="1b1974e5-5e75-48d5-80e7-9e77fe353162" parentID="1093" level="3" creatorID="0" sortOrder="3" createDate="2016-06-11T15:38:36" updateDate="2016-06-11T15:38:36" nodeName="dasdsa" urlName="dasdsa" path="-1,1065,1093,1155" isDoc="" nodeType="1107" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="0" nodeTypeAlias="message" isDraft="">
        <senderName><![CDATA[hghg]]></senderName>
        <subject><![CDATA[dasdsa]]></subject>
        <message><![CDATA[dsdasds]]></message>
        <email><![CDATA[hghg@gmail.com]]></email>
      </message>
    </contactPage>
    <initiatedProjects id="1140" key="c59442fb-8157-4f80-bd1b-bf2a641c9b20" parentID="1065" level="2" creatorID="0" sortOrder="10" createDate="2016-03-21T16:06:32" updateDate="2016-03-21T16:06:32" nodeName="Initiated Projects" urlName="initiated-projects" path="-1,1065,1140" isDoc="" nodeType="1137" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1136" nodeTypeAlias="initiatedProjects">
      <titleInitiated><![CDATA[Initiated Projects]]></titleInitiated>
    </initiatedProjects>
    <completedProjects id="1141" key="5fdb1f99-982b-458d-bcfb-c73e6146c430" parentID="1065" level="2" creatorID="0" sortOrder="11" createDate="2016-03-21T16:06:51" updateDate="2016-03-21T16:06:51" nodeName="Completed Projects" urlName="completed-projects" path="-1,1065,1141" isDoc="" nodeType="1139" creatorName="Nikolay" writerName="Nikolay" writerID="0" template="1138" nodeTypeAlias="completedProjects">
      <titleCompleted><![CDATA[Completed Projects]]></titleCompleted>
    </completedProjects>
  </homePage>
</root>